<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Erlang</string>
	<key>CFBundleGetInfoString</key>
	<string>1.3, copyright © 2008-2014 by Paul Guyot, Semiocast.</string>
	<key>CFBundleIdentifier</key>
	<string>com.semiocast.bblm.erlang</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>com.barebones.bblminfo</key>
	<array>
		<dict>
			<key>BBLMAlwaysGuessLanguage</key>
			<false/>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMEntryPointName</key>
			<string>ErlangMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>common_keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>erl_keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>Erlg</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Erlang</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMRunColors</key>
			<dict>
				<key>com.semiocast.bblm.erlang.builtInType</key>
				<string>==com.barebones.bblm.predefined-symbol</string>
				<key>com.semiocast.bblm.erlang.commentTag</key>
				<string>==com.barebones.bblm.sgml-entity</string>
				<key>com.semiocast.bblm.erlang.macroName</key>
				<string>==com.barebones.bblm.sgml-tag</string>
				<key>com.semiocast.bblm.erlang.type</key>
				<string>==com.barebones.bblm.indexed-symbol</string>
			</dict>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMIsSourceKind</key>
					<true/>
					<key>BBLMLanguageSuffix</key>
					<string>.erl</string>
				</dict>
				<dict>
					<key>BBLMIsHeaderKind</key>
					<true/>
					<key>BBLMLanguageSuffix</key>
					<string>.hrl</string>
				</dict>
			</array>
			<key>BBLMSupportsOneByteKeywordLookups</key>
			<false/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
			<key>kBBLMRunKindForWordMessage</key>
			<true/>
		</dict>
		<dict>
			<key>BBLMAlwaysGuessLanguage</key>
			<false/>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMEntryPointName</key>
			<string>ErlangMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>otp_applications.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>ErlA</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Erlang (Application Resource File)</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMScansFunctions</key>
			<false/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.app</string>
				</dict>
			</array>
			<key>BBLMSupportsOneByteKeywordLookups</key>
			<false/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
		<dict>
			<key>BBLMAlwaysGuessLanguage</key>
			<false/>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMEntryPointName</key>
			<string>ErlangMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>appup_keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>ErlU</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Erlang (Application Update File)</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMScansFunctions</key>
			<false/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.appup</string>
				</dict>
			</array>
			<key>BBLMSupportsOneByteKeywordLookups</key>
			<false/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
		<dict>
			<key>BBLMAlwaysGuessLanguage</key>
			<false/>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMEntryPointName</key>
			<string>ErlangMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>otp_applications.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.predefined-symbol</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>ErlR</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Erlang (Release Resource File)</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMScansFunctions</key>
			<false/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.rel</string>
				</dict>
			</array>
			<key>BBLMSupportsOneByteKeywordLookups</key>
			<false/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
		</dict>
		<dict>
			<key>BBLMAlwaysGuessLanguage</key>
			<false/>
			<key>BBLMCanGenerateHTMLForPreview</key>
			<false/>
			<key>BBLMCanGuessLanguage</key>
			<false/>
			<key>BBLMColorsSyntax</key>
			<true/>
			<key>BBLMDroppedFilePathStyle</key>
			<string>POSIX</string>
			<key>BBLMEntryPointName</key>
			<string>ErlangMachO</string>
			<key>BBLMFiltersRunsForSpellChecking</key>
			<true/>
			<key>BBLMFunctionScannerDoesFoldsToo</key>
			<true/>
			<key>BBLMIsCaseSensitive</key>
			<true/>
			<key>BBLMKeywords</key>
			<array>
				<dict>
					<key>KeywordFileName</key>
					<string>common_keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
				<dict>
					<key>KeywordFileName</key>
					<string>escript_keywords.txt</string>
					<key>RunKind</key>
					<string>com.barebones.bblm.keyword</string>
				</dict>
			</array>
			<key>BBLMLanguageCode</key>
			<string>ErlS</string>
			<key>BBLMLanguageDisplayName</key>
			<string>Erlang (Script)</string>
			<key>BBLMNonCompletableRunKinds</key>
			<array>
				<string>com.barebones.bblm.string</string>
			</array>
			<key>BBLMNonSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.code</string>
			</array>
			<key>BBLMScansFunctions</key>
			<true/>
			<key>BBLMSpellableRunKinds</key>
			<array>
				<string>com.barebones.bblm.comment</string>
			</array>
			<key>BBLMSuffixMap</key>
			<array>
				<dict>
					<key>BBLMLanguageSuffix</key>
					<string>.escript</string>
				</dict>
			</array>
			<key>BBLMSupportsOneByteKeywordLookups</key>
			<false/>
			<key>BBLMSupportsTextCompletion</key>
			<true/>
			<key>BBLMUseHTMLFileSearchRules</key>
			<false/>
			<key>kBBLMRunKindForWordMessage</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
